#####################################################################
# 	Homing and Gantry Adjustment Routines
#####################################################################
[idle_timeout]
timeout: 1800

# Homing override
[homing_override]
axes: xyz
set_position_z: 0
gcode:
  # --- 1. Setup Parameters ---
  {% set HOME_CUR = 0.500 %}
  {% set driver_config_x = printer.configfile.settings['tmc2209 stepper_x'] %}
  {% set driver_config_y = printer.configfile.settings['tmc2209 stepper_y'] %}
  {% set RUN_CUR_X = driver_config_x.run_current %}
  {% set RUN_CUR_Y = driver_config_y.run_current %}
  
  {% set safe_x = 175 %} 
  {% set safe_y = 175 %}
  {% set z_hop = 8 %}

  # Check which axes you are trying to home
  {% set home_all = 'X' not in params and 'Y' not in params and 'Z' not in params %}

  # Initial safe Z hop
  G90
  G0 Z{z_hop} F600

  # --- 2. Home X ---
  {% if home_all or 'X' in params %}
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CUR}
    G4 P2000
    G28 X0
    G91
    G1 X-10 F1200
    G90
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CUR_X}
  {% endif %}

  # --- 3. Home Y ---
  {% if home_all or 'Y' in params %}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CUR}
    G4 P2000
    G28 Y0
    G91
    G1 Y-10 F1200
    G90
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CUR_Y}
  {% endif %}

  # --- 4. Home Z ---
  {% if home_all or 'Z' in params %}
    # Check if X and Y are either currently homed, or are being homed right now
    {% set x_is_homed = 'x' in printer.toolhead.homed_axes or home_all or 'X' in params %}
    {% set y_is_homed = 'y' in printer.toolhead.homed_axes or home_all or 'Y' in params %}

    {% if not x_is_homed or not y_is_homed %}
      { action_raise_error("You must home X and Y before you can safely home Z!") }
    {% else %}
      G0 X{safe_x} Y{safe_y} F6000
      G28 Z0
      G0 Z{z_hop} F600
    {% endif %}
  {% endif %}


[quad_gantry_level]
##	Gantry Corners for 350mm Build
gantry_corners:
	-60,-10
	410,420
#	Probe points
points:
	50,25
    50,275
	300,275
	300,25

speed: 300
horizontal_move_z: 1.5
retries: 5
retry_tolerance: 0.0125
max_adjust: 30