####################################################################
########################### MACROS #################################
####################################################################


# INPUT SHAPER MACROS
[include input_shaper.cfg]

# HEAT SOAK
[include heat_soak.cfg]


# BASIC MACROS
[gcode_macro PRINT_WARMUP]
description: Perform initial homing and heating tasks
gcode:
  {% set BED_TEMP = params.BED_TEMP|float %}
  {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|float %}
  {% set CHAMBER_TEMP = params.CHAMBER_TEMP|float %}
  
  M117 Initial leveling...
  _CHOME
  _CQGL
  G0 Z15
  
  M117 Heat soaking...
  M104 S150
  {% if BED_TEMP > 80 %}
    {% if CHAMBER_TEMP > 40 %}
      NEVERMORE_ON
      #HEAT_SOAK HEATER='heater_bed' TARGET={BED_TEMP} SOAK_TEMP={CHAMBER_TEMP} SOAKER='temperature_sensor btt_eddy' TIMEOUT=20
    {% endif %}
  {% endif %}

[gcode_macro PRINT_START]
description: Perform calibration and get ready to print
gcode:
    {% set BED_TEMP = params.BED_TEMP|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|float %}
    
    M117 Conditional heating...
    M109 S150
    M190 S{BED_TEMP}

    _CHOME
    QUAD_GANTRY_LEVEL

    M117 Nozzle cleaning...
    _CLEAN_NOZZLE
    # PARK_CENTER_REAR
    
    M117 Homing...
    G28 Z0
    SKEW_PROFILE LOAD=my_skew_profile

    M117 Bed meshing...
    BED_MESH_CALIBRATE
    
    M117 Final nozzle temperature...
    PARK_CENTER_REAR
    M109 S{EXTRUDER_TEMP}
    {% if EXTRUDER_TEMP > 240 %}
      SET_GCODE_OFFSET Z_ADJUST=-0.01
    {% endif %}
    
    M117 Purging and cleaning...
    _CLEAN_NOZZLE
    PARK_CENTER_REAR

    M117 Printing...
    SET_PIN PIN=caselight VALUE=0.05

[gcode_macro PRINT_END]
gcode:
  M400
  G90
  _MOVE_AWAY
  G92 E0
  G1 E-5 F60
  NEVERMORE_OFF
  TURN_OFF_HEATERS
  PARK_CENTER_REAR
  SET_SKEW CLEAR=1
  BED_MESH_CLEAR
  SET_PIN PIN=caselight VALUE=0.10
  

[gcode_macro NEVERMORE_ON]
gcode:
  SET_FAN_SPEED FAN=Nevermore SPEED=0.5

[gcode_macro NEVERMORE_OFF]
gcode:
  SET_FAN_SPEED FAN=Nevermore SPEED=0

[gcode_macro CLEAN_NOZZLE]
gcode:
  _CHOME
  _CLEAN_NOZZLE

[gcode_macro _CLEAN_NOZZLE]
variable_location_bucket_rear: True
variable_enable_purge: False
variable_purge_len: 30
variable_purge_spd: 300
variable_purge_temp_min: 200
variable_purge_ret: 5
variable_ooze_dwell: 1

variable_brush_top: 0
variable_clearance_z: 5
variable_wipe_qty: 5
variable_prep_spd_xy: 6000
variable_prep_spd_z: 1500
variable_wipe_spd_xy: 8000

variable_brush_start: 200
variable_brush_width: 30
variable_brush_front: 300 
variable_brush_depth: 2

variable_bucket_left_width: 25
variable_bucket_right_width: 25
variable_bucket_gap: 22
variable_bucket_start: 0
variable_bucket_pos: 1
gcode:
   {% if "xyz" in printer.toolhead.homed_axes %}
      SAVE_GCODE_STATE NAME=_CLEAN_NOZZLE
      G90
      {% set Ry = printer.configfile.config["stepper_y"]["position_max"]|float %}

      {% if enable_purge %}

         ### Randomly select left or right bin for purge. 0 = left, 1 = right
         SET_GCODE_VARIABLE MACRO=_CLEAN_NOZZLE VARIABLE=bucket_pos VALUE={(range(2) | random)}

         ### Raise Z for travel.
         G1 Z{brush_top + clearance_z} F{prep_spd_z}

         ### Check if user chose to use rear location.
         {% if location_bucket_rear %}
            G1 Y{Ry} F{prep_spd_xy}
         {% else %}
            G1 Y{brush_front + (brush_depth / 2)} F{prep_spd_xy}
         {% endif %}

         ### Position for purge. Randomly selects middle of left or right bucket. It references from the middle of the left bucket.
         G1 X{bucket_start + (bucket_left_width / (2 - bucket_pos)) + (bucket_pos * bucket_gap) + (bucket_pos * (bucket_right_width / 2))}

         ### Perform purge if the temp is up to min temp. If not, it will skip and continue executing rest of macro. Small retract after
         ### purging to minimize any persistent oozing at 5x purge_spd. G4 dwell is in milliseconds, hence * 1000 in formula.
         {% if printer.extruder.temperature >= purge_temp_min %}
            M83      ; relative mode
            G1 E{purge_len} F{purge_spd}
            G1 E-{purge_ret} F{purge_spd * 5}
            G4 P{ooze_dwell * 1000}
            G92 E0   ; reset extruder
         {% endif %}
      {% endif %}

       ## Position for wipe. Either left or right of brush based off bucket_pos to avoid unnecessary travel.
      G1 Z{brush_top + clearance_z} F{prep_spd_z}
      G1 X{brush_start + (brush_width * bucket_pos)} F{prep_spd_xy}

      ## Check if user chose to use rear location.
      {% if location_bucket_rear %}
         G1 Y{Ry}
      {% else %}
         G1 Y{brush_front + (brush_depth / 2)}
      {% endif %}
      
      ## Move nozzle down into brush.
      G1 Z{brush_top} F{prep_spd_z}

      ## Perform wipe. Wipe direction based off bucket_pos for cool random scrubby routine.
      {% for wipes in range(1, (wipe_qty + 1)) %}
          G1 X{brush_start + (brush_width * (1 - bucket_pos))} F{wipe_spd_xy}
          G1 X{brush_start + (brush_width * bucket_pos)} F{wipe_spd_xy}
      {% endfor %}

      ## Clear from area.
      M117 Cleaned!
      G1 Z{brush_top + clearance_z} F{prep_spd_z}

       ## Restore the gcode state to how it was before the macro.
      RESTORE_GCODE_STATE NAME=_CLEAN_NOZZLE
      
   {% else %}
      ## raise error will stop any macros that clean_nozzle is referenced in from proceeding for safety.
      { action_raise_error("Please home your axes!") }
   {% endif %}



# PARKING
[gcode_macro PARK_CENTER_REAR]
gcode:
    {% set th = printer.toolhead %}
    {% set z_safe = [th.position.z + 5, th.axis_maximum.z]|min %}
    G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y - 50} Z{z_safe}  F3600

[gcode_macro _MOVE_AWAY]
gcode:
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
    {% set z_safe = [th.position.z + 4, th.axis_maximum.z]|min %}
    G90
    G0 X{x_safe} Y{y_safe} Z{z_safe} F20000


# BACKUP
# This defines the actual Linux command
[gcode_shell_command backup_cfg]
command: ~/klipper-backup/script.sh
timeout: 30.0
verbose: True

[gcode_macro BACKUP_CFG]
gcode:
    RUN_SHELL_COMMAND CMD=backup_cfg


# TESTING
[gcode_macro FORCE_ZBACK_UP]
gcode:
    # 1. Allow the printer to move without homing
    SET_KINEMATIC_POSITION Z=0
    
    # 2. Move Z1 up by 2mm at 5mm/s
    FORCE_MOVE STEPPER=stepper_z1 DISTANCE=2 VELOCITY=5
    
    # 3. Move Z2 up by 2mm at 5mm/s
    FORCE_MOVE STEPPER=stepper_z2 DISTANCE=2 VELOCITY=5
    
    # 4. Clear the fake position to force a re-home for safety
    {action_respond_info("Z1 and Z2 moved up 2mm. Re-home before printing!")}
